<section id="partners" class="container mt-20 mb-8">
  <h2 class="text-2xl font-bold mb-4 text-indigo-dye">{{ "partners.title" | t(locale) }}</h2>
  <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    {% for partner in partners %}
      <li class="bg-indigo-dye/30 p-4 text-center rounded shadow transition-transform transform hover:scale-105 hover:shadow-lg">
        <a href="{{ partner.link }}" target="_blank">
          <img src="{{ partner.image }}" alt="{{ partner.alt }}" class="mx-auto mb-2 rounded"/>
          <p class="font-bold">{{ partner.name }}</p>
          <p class="font-medium">{{ partner.text | t(locale) }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>